[submodule "src/accelergy-table-based-plug-ins"]
	path = src/accelergy-table-based-plug-ins
	url = https://github.com/Accelergy-Project/accelergy-table-based-plug-ins.git
[submodule "src/accelergy-aladdin-plug-in"]
	path = src/accelergy-aladdin-plug-in
	url = https://github.com/Accelergy-Project/accelergy-aladdin-plug-in.git
[submodule "src/accelergy"]
	path = src/accelergy
	url = https://github.com/Accelergy-Project/accelergy.git
[submodule "src/accelergy-cacti-plug-in"]
	path = src/accelergy-cacti-plug-in
	url = https://github.com/Accelergy-Project/accelergy-cacti-plug-in.git
[submodule "src/cacti"]
	path = src/cacti
	url = https://github.com/HewlettPackard/cacti.git
[submodule "src/timeloop"]
	path = src/timeloop
	url = https://github.com/NVlabs/timeloop.git
[submodule "src/timeloop-python"]
	path = src/timeloop-python
	url = https://github.com/Accelergy-Project/timeloop-python.git
	branch = main
[submodule "src/accelergy-library-plug-in"]
	path = src/accelergy-library-plug-in
	url = https://github.com/Accelergy-Project/accelergy-library-plug-in.git
	branch = main
[submodule "src/accelergy-neurosim-plug-in"]
	path = src/accelergy-neurosim-plug-in
	url = https://github.com/Accelergy-Project/accelergy-neurosim-plug-in.git
	branch = main
[submodule "src/accelergy-adc-plug-in"]
	path = src/accelergy-adc-plug-in
	url = https://github.com/Accelergy-Project/accelergy-adc-plug-in.git
	branch = main
[submodule "src/timeloopfe"]
	path = src/timeloopfe
	url = https://github.com/Accelergy-Project/timeloopfe.git
